#about-me,
#project-qr-m2,
#project-led-matrix,
#project-biped {
    background-color: var(--page-bg);
    backdrop-filter: blur(1px);
    margin-top: var(--nav-bar);
}

.image {
    margin-right: 2rem;
    position: relative;
    max-width: 30%;
}

#about-me .image img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: inherit;
    position: relative;
    z-index: 1;
}

.inline-image,
.inline-video {
    margin: 16px 0;
}

.section-header::before {
    display: none;
}

figure.image {
    position: relative;
    border: 2px solid #777;
    overflow: hidden;
    border-radius: 8px;
}

figure.image figcaption {
    position: absolute;
    bottom: 0;
    padding: 8px;
    backdrop-filter: blur(2px);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.71), rgba(0, 0, 0, 0));
    width: 100%;
    z-index: 2;
    transition: transform 200ms;
    transform: translateY(100%);
}

figure.image:hover figcaption {
    transform: translateY(0);
}

.section-container>section {
    margin-top: 2rem;
}

.lead-in {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.8em;
    opacity: 0.16;
}

.lead-in::after {
    content: '';
    height: 1px;
    background-color: #ddd;
}

.section-container section p {
    font-size: 1.08rem;
    letter-spacing: 0px;
    margin-bottom: 16px;
}

.section-container section ul {
    padding-left: 1em;
    margin-bottom: 16px;
}

.section-container section ul li {
    margin-bottom: 8px;
    font-size: 1.06rem;
}

.video-block video {
    width: 100%;
}

nav {
    --blur: 2px;
    --bg-alpha: 0.3;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.image-grid img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.image-grid figcaption {
    display: none;
}

@media (max-width: 1080px) {
    .image {
        max-width: 30%;
    }
}

@media (max-width: 768px) {
    .image {
        max-width: 40%;
    }
}

@media (max-width: 580px) {
    .image {
        max-width: 48%;
    }
}

@media (max-width: 420px) {
    .section-container section h2 {
        font-size: 1.08rem;
    }

    .section-container section p {
        font-size: 1rem;
    }
}

@media (max-width: 378px) {
    .image {
        max-width: 56%;
    }

    .section-container section h2 {
        font-size: 1rem;
    }

    .section-container section p {
        font-size: 1rem;
    }
}